In [11]:
import pandas as pd
import numpy as np
import random

# DEMOGRAPHIC

In [21]:
df = pd.read_csv('demographic.csv',index_col=0)

In [13]:
cols = df.columns.tolist()
cols.remove('customer_id')

In [14]:
for col in cols:
    df.loc[df.sample(frac=0.1).index, col] = None

In [15]:
df = df[:100]

In [18]:
df.to_csv('sql_demo.csv',index=False)

In [19]:
df.columns.tolist()

['customer_id',
 'full_name',
 'gender',
 'date_of_birth',
 'address',
 'city',
 'country',
 'phone_number',
 'email',
 'occupation',
 'education',
 'marital_status']

In [22]:
pd.read_csv('sql_demo.csv')

,customer_id,full_name,gender,date_of_birth,address,city,country,phone_number,email,occupation,education,marital_status
0,0,Cung Yến N**c,Nữ,1990-11-16,"1412/16/103/191/295w, Trần Hưng Đạo, Phường An...",Hà Nội,Việt Nam,440-498-7977x6218,vincentjeffrey@example.com,Kỹ sư phần mềm,Đại học,Độc thân
1,1,Cao Diễm K***h,Nữ,2011-05-04,"1622/57/195t, Trần Hưng Đạo, Phường 8, Đan Phư...",Hồ Chí Minh,Việt Nam,(576)816-1716x97417,jeffrey09@example.com,Công nhân,NaN,Đã kết hôn
2,2,Trình Linh T***t,Nữ,2002-04-08,"2184/255, Võ Thị Sáu, Phường Bình Trưng Đông, ...",Đà Nẵng,Việt Nam,670.437.5888x389,victoria48@example.com,Nhân viên,Đi làm,Độc thân
3,3,Hà Thành Q***g,Nam,1998-07-27,"2136/30/168/130/14C, Lê Lai, Phường 9, Gia Lâm...",Bình Dương,Việt Nam,NaN,collinskeith@example.net,Giám đốc,Tiến sĩ,Có gia đình
4,4,Lư Tuyến D*y,NaN,2001-08-21,"1837/601, Võ Văn Tần, Phường 9, Quận Tân Phú, ...",Hồ Chí Minh,Việt Nam,204.371.3587,williamscharles@example.com,Giáo viên,Sinh viên,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Sử Đan Đ*n,Nam,1988-07-29,"770/83/60, Nguyễn Đức Cảnh, Phường Tam Phú, Bắ...",Hà Nội,Việt Nam,+1-951-799-8801x9768,david03@example.net,Bác sĩ,Đại học,Có gia đình
96,96,Mạnh Hậu H**n,Nam,1994-08-11,"2368/75/92/241E, Phố Lý Thường Kiệt, Phường 2,...",Hải Phòng,Việt Nam,001-749-299-9048x165,andrewmedina@example.org,Nhân viên,Đi làm,Độc thân
97,97,Trần Đức D**m,Nữ,1995-05-06,"2407/625, Cô Giang, Phường An Phú, Thanh Xuân,...",Hồ Chí Minh,Việt Nam,(862)784-1173x8054,qmitchell@example.net,Biên tập viên,Sinh viên,Độc thân
98,98,Phó Công T***h,Nữ,1997-05-07,NaN,Tây Ninh,NaN,001-327-269-8218x4876,jamescarlos@example.net,Kỹ sư phần mềm,Đại học,Có 1 bé
99,99,Phú Khánh N*a,Nam,1993-12-08,"2171/18/178/98/269, Đường Số 8, Phường Linh Đô...",Bà Rịa - Vũng Tàu,Việt Nam,(831)981-9866x8567,hartkristen@example.net,Kỹ sư phần mềm,Sinh viên,Độc thân

# MEMBER

In [39]:
df = pd.read_csv('member.csv',index_col=0)
df = df.drop(columns=['member_lifespan'])

In [40]:
cols = df.columns.tolist()
cols.remove('customer_id')

In [41]:
for col in cols:
    df.loc[df.sample(frac=0.05).index, col] = None

In [42]:
df = df[:150]

In [43]:
df.to_csv('sql_member.csv',index=False)

In [44]:
df.columns.tolist()

['customer_id',
 'membership_level',
 'join_date',
 'expiry_date',
 'membership_status',
 'customer_points',
 'discount_rate',
 'referral_code',
 'last_active_time',
 'num_active_last_7days',
 'num_active_last_14days',
 'num_active_last_30days',
 'total_redeemed_points']

In [45]:
pd.read_csv('sql_member.csv')

,customer_id,membership_level,join_date,expiry_date,membership_status,customer_points,discount_rate,referral_code,last_active_time,num_active_last_7days,num_active_last_14days,num_active_last_30days,total_redeemed_points
0,0,Standard,2022-10-16,NaN,Active,28.0,0.01,AL955,2022-11-21 23:32:45,1.0,23.0,29.0,8.0
1,1,Standard,2017-01-20,NaN,Expired,36.0,0.01,HA129,NaN,NaN,NaN,NaN,33.0
2,2,Standard,2018-01-23,NaN,Active,53.0,0.02,BL757,2022-07-11 20:58:21,10.0,4.0,48.0,21.0
3,3,Loyalty,2022-01-11,NaN,Active,366.0,0.03,RH348,2022-12-29 20:06:37,26.0,54.0,45.0,187.0
4,4,Standard,2021-01-20,NaN,Active,19.0,0.01,BI144,2022-09-24 02:39:39,13.0,21.0,11.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,Standard,2016-12-01,NaN,Active,33.0,0.02,PU246,2022-09-08 08:13:53,12.0,30.0,49.0,24.0
146,146,Standard,2017-12-09,2017-12-19,Expired,58.0,0.01,OX197,NaN,NaN,NaN,NaN,3.0
147,147,Standard,2022-01-14,NaN,Active,22.0,0.01,FC450,2022-10-22 16:44:45,2.0,30.0,9.0,22.0
148,148,Loyalty,2019-08-21,2021-04-28,Expired,138.0,0.04,NaN,NaN,NaN,NaN,NaN,6.0
149,149,Standard,NaN,2021-04-06,Expired,90.0,0.02,EH657,NaN,NaN,NaN,NaN,52.0

# TXN

In [78]:
df = pd.read_csv('transaction_history.csv',index_col=0)

In [79]:
# cols = ['customer_id', 'label_datetime', 'fraud_label', 'aov_last_30days','total_amount_spent', 
#         'top_payment_method', 'num_used_promotion', 'income_source', 'monthly_bill_amount'
#        ]
# df = df[cols]

In [80]:
df = df[df['customer_id'] < 300]

In [81]:
df.to_csv('sql_txn.csv')

,transaction_id,transaction_datetime,customer_id,product_id,product_lvl1,product_lvl2,product_lvl3,product_lvl4,brand,price,...,rating,num_sold,quantity,unit_price,total_amount,payment_id,promotion_id,transaction_status,transaction_type,store_id
0,0.0,2013-01-01 00:00:00,0,123.0,Siêu thị,Thực phẩm đông lạnh,Hải sản,Cá basa đông lạnh,None,80000.0,...,2.4,1144.0,0.0,80000.0,0.0,0.0,NaN,Đã tiếp nhận,Hoàn tiền,8366.0
1,1.0,2020-07-22 20:43:44,1,37.0,Giày dép và Phụ kiện,Giày cao gót,Giày cao gót nữ,Giày cao gót nữ mũi nhọn,Jimmy Choo,NaN,...,NaN,1738.0,6.0,7599000.0,45594000.0,1.0,NaN,Đã xác nhận,Thẻ tín dụng,8065.0
2,2.0,2022-12-16 03:40:11,2,67.0,None,Thực phẩm đóng hộp,Nước mắm,Nước mắm Phú Quốc,Phu Quoc Fish Sauce,45000.0,...,4.6,983.0,0.0,NaN,0.0,2.0,NaN,Đã tiếp nhận,Mua hàng,8917.0
3,3.0,2022-12-16 03:40:11,2,31.0,None,Đầm,Đầm nữ,Đầm nữ dự tiệc,H&M,790000.0,...,4.6,1419.0,1.0,790000.0,790000.0,NaN,NaN,Đã hủy,Mua hàng,8596.0
4,4.0,2022-12-16 03:40:11,2,12.0,Phụ kiện điện thoại,Ốp lưng điện thoại,Ốp lưng điện thoại iPhone,Ốp lưng điện thoại iPhone Silicone,Apple,490000.0,...,NaN,397.0,0.0,490000.0,0.0,2.0,NaN,Đã giao hàng,Thẻ ghi nợ,9000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,495.0,2018-08-17 00:11:58,296,20.0,Sách,Sách tự lực,None,Kế Hoạch Thành Công,Nhã Nam,89000.0,...,4.9,1492.0,NaN,89000.0,267000.0,328.0,545.0,Thành công,Thanh toán,8230.0
546,NaN,NaN,297,139.0,Rau củ,Rau,Rau muống,Rau muống sạch,Local Farms,10000.0,...,4.6,1627.0,16.0,10000.0,NaN,329.0,546.0,Đã tiếp nhận,Hoàn tiền,8992.0
547,496.0,2020-03-05 13:59:30,298,84.0,Siêu thị đồ ăn,Thực phẩm đóng gói,Sữa chua,Sữa chua thanh long,Yogurt Delights,12000.0,...,4.7,823.0,0.0,12000.0,0.0,330.0,547.0,Đã tiếp nhận,Mua hàng,8060.0
548,497.0,None,298,46.0,Đèn trang trí và Chiếu sáng,Đèn trần,Đèn trần phòng khách,Đèn trần phòng khách hiện đại,Artemide,2599000.0,...,3.0,1876.0,1.0,2599000.0,2599000.0,330.0,NaN,Đã xác nhận,Hoàn tiền,8400.0
549,498.0,2022-09-13 00:08:31,299,45.0,None,Củ,Khoai tây,Khoai tây tím,Garden Fresh,25000.0,...,4.8,NaN,11.0,25000.0,275000.0,331.0,NaN,Đã tiếp nhận,Thanh toán,8865.0

In [73]:
df.columns.tolist()

['transaction_id',
 'transaction_datetime',
 'customer_id',
 'product_id',
 'product_lvl1',
 'product_lvl2',
 'product_lvl3',
 'product_lvl4',
 'brand',
 'price',
 'description',
 'rating',
 'num_sold',
 'quantity',
 'unit_price',
 'total_amount',
 'payment_id',
 'promotion_id',
 'transaction_status',
 'transaction_type',
 'store_id']

In [66]:
pd.read_csv('sql_txn.csv')

,customer_id,label_datetime,fraud_label,aov_last_30days,total_amount_spent,top_payment_method,num_used_promotion,income_source,monthly_bill_amount
0,657,2021-09-24,Good,47926.561139,NaN,Thanh toán bằng QR Code,NaN,NaN,NaN
1,9263,2021-02-22,Good,20896.638463,3.867830e+08,Thanh toán qua cổng thanh toán trực tuyến,62.0,Kinh doanh truyền thống,NaN
2,13576,2022-12-12,Bad,95831.747912,4.373747e+09,Thanh toán bằng QR Code,72.0,NaN,NaN
3,6886,2022-12-24,Bad,8822.900507,3.164343e+09,Thanh toán qua cổng thanh toán trực tuyến,94.0,Làm thuê,49200000.0
4,1850,2021-10-05,Good,64454.837779,9.261961e+09,Thanh toán qua cổng thanh toán trực tuyến,92.0,Làm thuê,NaN
...,...,...,...,...,...,...,...,...,...
3328,6462,2021-07-11,Good,57425.083187,2.619384e+09,Thanh toán qua cổng thanh toán trực tuyến,NaN,NaN,2900000.0
3329,1229,2022-08-06,Good,94599.690247,8.632501e+09,NaN,NaN,NaN,NaN
3330,3543,2022-07-31,Good,19055.111934,4.931282e+09,NaN,61.0,Làm thuê,15100000.0
3331,3862,2022-06-05,NaN,51237.549425,3.590777e+09,NaN,79.0,NaN,3100000.0
3332,12984,2022-01-21,Good,57396.498352,7.714878e+09,NaN,92.0,NaN,5900000.0